<!-- multistep form -->
<!-- <link rel="stylesheet" type="text/css" href="style.css"> -->
<div id="msform">

        <h2><b>Receiver Details</b></h2>
    <br>
        
        <input placeholder="Enter BIC Number" type="text" [ngModel]="bicNumber" (ngModelChange)="bicNumber = $event.toUpperCase()" (ngModelChange)="checkBICLen()">
        <button class="btn btn-success" (click)="checkBIC()" [disabled]="isDisabled">Next</button>
        <br>
        <br>
        <div *ngIf="isValidBIC; else display">
            <label for="">Institution Name</label>    
            <input type="text" value={{rApiData.bankName}} disabled>
            <br>
            <br>
            <label> Account Holder Name</label>
            <input onkeydown="return /[a-z]/i.test(event.key)" placeholder="Enter account holder name" type="text" [(ngModel)]="accHolderName" (ngModelChange)="validateNameNumber()">
            <br><br>
            <label> Account Number</label>
            <input placeholder="Enter account number" type="text" [(ngModel)]="accNumber" (ngModelChange)="validateNameNumber()" appOnlyNumber >
            <!-- <button (click)="reciverMethod()">Next</button> -->
            <br>
            <br>
            <button class="btn btn-success" (click)="checkSanction()" [disabled]="isDisabledNext">next</button>
        </div>
            
            
            <ng-template #display>
                <!-- <p>no details</p> -->
            </ng-template>

  </div>
